<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fut</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="css/styles.min.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean">
        <div class="container"><a class="navbar-brand" href="#">Anfa Catemu</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">Selecciones</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">Torneos del año</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">Fechas</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">Tabla</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">Equipos</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!--Botones-->
<button type="button" class="btn btn-outline-primary">General</button>
<button type="button" class="btn btn-outline-secondary">Primera</button>
<button type="button" class="btn btn-outline-success">Senior</button>
<button type="button" class="btn btn-outline-danger">Segunda</button>
<button type="button" class="btn btn-outline-dark">Tercera</button>
<!--Tabla general-->
<table class="table table-bordered">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Posicion</th>
                <th scope="col">Club</th>
                <th scope="col">Puntos</th>
                <th scope="col">PJ</th>
                <th scope="col">PG</th>
                <th scope="col">PE</th>
                <th scope="col">PP</th>
                <th scope="col">GA</th>
                <th scope="col">GC</th>
                <th scope="col">DG</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Union Compuertas</td>
                <td>30</td>
                <td>10</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Arco Iris</td>
                <td>29</td>
                <td>10</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Alfredo Riesco</td>
                <td>38</td>
                <td>10</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Colonia</td>
                <td>38</td>
                <td>10</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>Alianza</td>
                <td>38</td>
                <td>10</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>San Carlos</td>
                <td>38</td>
                <td>10</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td>Ñilhue</td>
                <td>38</td>
                <td>10</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <th scope="row">8</th>
                <td>Minera</td>
                <td>38</td>
                <td>10</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <th scope="row">9</th>
                <td>Peñarol</td>
                <td>38</td>
                <td>10</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <th scope="row">10</th>
                <td>Carmelo</td>
                <td>38</td>
                <td>10</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <th scope="row">11</th>
                <td>Santa Margarita</td>
                <td>38</td>
                <td>10</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <th scope="row">12</th>
                <td>Estrella</td>
                <td>38</td>
                <td>10</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <th scope="row">13</th>
                <td>Santa Rosa</td>
                <td>38</td>
                <td>10</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <th scope="row">14</th>
                <td>Valencia</td>
                <td>38</td>
                <td>10</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
        </tbody>
    </table>
</table>
    <div class="footer-basic">
        <footer>
            <p class="copyright">Company Name © 2017</p>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>